@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "paybooc";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff")
    format("woff");
  font-weight: 100 300;
  font-style: normal;
}

@font-face {
  font-family: "paybooc";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff")
    format("woff");
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: "paybooc";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "paybooc";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff")
    format("woff");
  font-weight: 800 900;
  font-style: normal;
}

@font-face {
  font-family: "Bai Jamjuree Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-Italic.woff")
    format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree Bold Italic"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-BoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree ExtraLight Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree ExtraLight Regular"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-ExtraLight.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree Light Regular"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-Light.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Medium Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree Medium Regular"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree SemiBold Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree SemiBold Regular"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-SemiBold.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree ExtraLight Italic"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-ExtraLightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree Light Italic"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-LightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree Medium Italic"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-MediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Bai Jamjuree SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Bai Jamjuree SemiBold Italic"),
    url("./../assets/fonts/bai-jamjuree-webfont/BaiJamjuree-SemiBoldItalic.woff")
      format("woff");
}
